<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <title>Wine Search</title>
</head>
<body>
<div class = "container">
    <h1> What kind of wine are you looking for?</h1>
    <div class = "form">
     <form action="/search" method="POST">
        <label for ="inputField"></label>
        <input type="text" name="winename" id="wn" placeholder="Search Wine"/>
        <input type ="submit">
       
     </form>

    </div>    
</div>

</body>
</html>